/* =================================== */
/*	Basic Style 
/* =================================== */

body {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
  font-size: 13px;
  color: #6a737b;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure,
p {
  margin: 0;
}

a {
  color: white;
  /* font-style: italic; */
  -webkit-transition: all .3s ease-in 0s;
  -moz-transition: all .3s ease-in 0s;
  -ms-transition: all .3s ease-in 0s;
  -o-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
  font-family: "AlegreyaSans-Bold";
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #6CB670;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

span.color {
  color: #0feb9e;
}

body>section,
.footer {
  padding: 70px 0;
}

.sec-title {}

.sec-title h2 {
  color: #293189;
  font-size: 28px;
  font-weight: 800;
  /* text-transform: uppercase; */
}

.sec-sub-title {
  margin: 35px 0 45px;
}

.sec-sub-title p {
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
  color: #5b646e;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #cccccc;
}

/* .devider:before,
.devider:after {
  content: "______________________";
  color: #e6e8ea;
  position: relative;
  bottom: 6px;
} */

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
  margin-bottom: 50px;
}

#preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader>img {
  left: 47%;
  position: absolute;
  top: 48%;
}


/*=========================================
	Header
==========================================*/

#navigation {
  background-color:transparent;
  border: 0 none;
  margin: 0;

  -webkit-transition: background-color 800ms linear;
  -moz-transition: background-color 800ms linear;
  -ms-transition: background-color 800ms linear;
  -o-transition: background-color 800ms linear;
  transition: background-color 800ms linear;
}

.navbar-toggle i {
  color: #fff;
  
}

.navbar-brand {
  padding: 0;
}

.navbar-nav li a {
  border-top: 1px solid transparent;
  font-family: "Anglecia-Medium";
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
  background-color: transparent;
  border-top: 1px solid #36bcee;
  background-color: transparent;
  color: #36bcee;
}




/*=========================================
	Slider
==========================================*/

#slider {
  padding: 0;
}

#slider .carousel-inner .item {
  background-size: cover;
}

.carousel-caption {
  top: 50%;
}

.carousel-caption h2 {
  font-size: 62px;
  font-weight: 300;
}

.carousel-caption h2 span {
  font-weight: 800;
}

.carousel-caption h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 6px 0 20px;
}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
  color: #0feb9e;
  content: "___";
  position: relative;
  top: -8px;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}

.social-links {
  margin-top: 5%;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #b6a378;
}

.carousel-indicators {
  bottom: 10px;
  left: inherit;
  margin: 0;
  right: 30px;
  top: 49%;
  width: 0;
}

.carousel-indicators li {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
}



/*=========================================
	Features
==========================================*/

.features {
  background-color: white;
}

.owl-controls {
  bottom: -45px;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.owl-controls .owl-page {
  display: inline-block;
}

.owl-controls .owl-page span {
  border: 1px solid #C7CED3;
  border-radius: 20px;
  display: block;
  height: 8px;
  margin: 5px 4px;
  width: 8px;
}

.owl-controls .owl-page.active span {
  background: #062033;
  border: 0;
}



.service-icon {
  border: 1px solid #293189;
  border-radius: 50%;
  color: #293189;
  float: left;
  padding: 10px 13px;
}

.service-desc {
  margin-left: 70px;
  position: relative;
  top: 5px;
}

.service-desc h3 {
  color: #337ab7;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}




/*=========================================
	Our Works
==========================================*/

.work-filter {
  margin-bottom: 35px;
}

.work-filter ul li {
  display: inline-block;
}

.work-filter ul li a {
  color: #36bcee;
  background-color: transparent;
  border-color: #36bcee;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 17px;
  border-radius: 6px;
  text-transform: capitalize;
  font-family: "AlegreyaSans-Bold";
}

.work-filter ul li a:hover,
.work-filter ul li a.active {
  background-color: #36bcee;
  border-radius: 6px;
  color: #fff;
  padding: 5px 17px;
}

.mix {
  display: none;
}

.work-item {
  float: left;
  width: 25%;
  position: relative;
}

.work-item>img {
  display: block;
  height: auto;
  width: 100%;
}

.overlay {
  background-color: #293189;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;

  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: all 450ms ease-out 0s;
  -moz-transition: all 450ms ease-out 0s;
  -o-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;

  -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
  -moz-transform: rotateY(180deg) scale(0.5, 0.5);
  -ms-transform: rotateY(180deg) scale(0.5, 0.5);
  -o-transform: rotateY(180deg) scale(0.5, 0.5);
  transform: rotateY(180deg) scale(0.5, 0.5);
}

.work-item:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transform: rotateY(0deg) scale(1, 1);
  -moz-transform: rotateY(0deg) scale(1, 1);
  -ms-transform: rotateY(0deg) scale(1, 1);
  -o-transform: rotateY(0deg) scale(1, 1);
  transform: rotateY(0deg) scale(1, 1);
}

.work-item .overlay a {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20%;
  padding: 7px 10px;
}

.work-item .overlay a:hover {
  color: #fff;
}

.work-item .overlay h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 25px 0 8px;
}

.work-item .overlay p {
  font-size: 14px;
  line-height: 24px;
}



/*=========================================
	Our Team Member
==========================================*/

.member-thumb {
  width: 273px;
  position: relative;
}

.member-thumb .overlay h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0;
}

.member-thumb .overlay {
  font-size: 16px;
  padding: 20px;
  line-height: 24px;
}

.team-member h4 {
  color: #062033;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0 8px;
}

.member-thumb:hover .overlay {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transform: rotateY(0deg) scale(1, 1);
  -moz-transform: rotateY(0deg) scale(1, 1);
  -ms-transform: rotateY(0deg) scale(1, 1);
  -o-transform: rotateY(0deg) scale(1, 1);
  transform: rotateY(0deg) scale(1, 1);
}

.team-member:hover h4 {
  color: #293189;
}

.team-member .social-links {
  margin-top: 24%;
}

.team-member .social-links li a {
  background-color: #e3e3e3;
  color: #fff;
  height: 42px;
  padding: 10px 0 0;
  width: 42px;
}


/*=========================================
	Some fun facts
==========================================*/

#facts {
  background-image: url("../img/parallax/city.jpg");
  background-color: rgba(6, 32, 51, .8);
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.facts .devider:before,
.facts .devider:after {
  color: #737C85;
}

.facts .devider i {
  color: #fff;
}

.parallax-overlay {
  background-color: rgba(6, 32, 51, .8);
  padding: 70px 0;
}

.counters-item {
  color: #fff;
}

.counters-item i {
  border: 1px solid #737C85;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 120px;
  margin: 0 0 35px;
  padding: 40px 0 0;
  width: 120px;
}

.counters-item strong {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.counters-item p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  text-transform: uppercase;
}


/*=========================================
	Contact Us
==========================================*/

.contact {
  padding-bottom: 0;
}

.contact-address h3 {
  color: #062033;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-address p {
  line-height: 24px;
}

.contact-form {}

.contact-form h3 {
  color: #062033;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-form .input-group {
  width: 100%;
}

.contact-form .form-control {
  border-color: -moz-use-text-color -moz-use-text-color #cccccc;
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  box-shadow: none;
  margin-bottom: 10px;
}

.contact-form .input-field {
  width: 48%;
  float: left;
  margin-right: 4%;
}

.contact-form .input-field:last-child {
  margin-right: 0;
}

.contact-form .form-control.error {
  border-bottom-color: #c0392b;
}

label.error {
  color: #c0392b;
  font-weight: normal;
  text-transform: capitalize;
}

.contact-form #form-submit {
  background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
  border: 0 none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  text-align: right;
  width: 150px;
}

.footer-social {
  margin-top: 17px;
}

.footer-social li a {
  color: #cdd2d6;
  display: block;
  margin-bottom: 10px;
}

#map_canvas {
  height: 215px;
  width: 100%;
}



/*=========================================
	Contact Us
==========================================*/


.footer {
  background-color:  #ffffff;background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  border-top: 5px solid #062033;
  color: #fff;
}

.footer a:hover {
  color: #062033;
}

.footer h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}

.about-us p {
  line-height: 24px;
}

.footer-single .subscribe {
  margin-bottom: 15px;
  position: relative;
}

.subscribe #subscribe {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 40px;
  text-indent: 10px;
  width: 100%;
}

.subscribe #subs {
  background-color: transparent;
  border: 0 none;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 6px;
}

.footer-single {
  line-height: 24px;
}

.footer-single ul {}

.footer-single li {
  line-height: 32px;
}

.footer-single p i {
  margin: 0 10px;
}

.credit a {
  color: #062033;
}

.credit a:hover {
  color: #fff;
}

.copyright {
  color: #fff;
  margin-top: 100px;
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9;
  color: #5d5f5e;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
  text-align: justify;
  text-justify: inter-word;
  font-size: larger;
  font-family: "AlegreyaSans-Regular";
}

/* .divider {
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;
  width: 32px;
  height: 3px;
  border-radius: 40px;
  background-color: #293189;
} */

.title-section {
  max-width: 450px;
  color: #2D2B3A;
  font-weight: 600;
  font-family: "Anglecia-Medium";
}

.title-section .marked {
  position: relative;
  color: #293189;
  font-family: "Anglecia-Medium";
}

.title-section .marked::before {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: -1;
}

.text-center .title-section {
  margin-left: auto;
  margin-right: auto;
}

/* banner parrlex */

.swiper {
  height: 100vh;
}

.swiper-slide {
  background-image: url(../img/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgs {
  position: relative;
  height: 700px;
}

.imgs img {
  object-fit: contain;
  position: absolute;

  /* TESTING */
  height: 250px;
}

.imgs .img1 {
  height: 700px;
  left: -30%;
  top: 0px;

  /* FOR AMINAMTION */
  transform: translateY(50vh);
  opacity: 0;
  transition: opacity 2000ms ease, transform 900ms ease;
}

.imgs .img2 {
  height: 660px;
  left: -30px;
  top: 60px;

  /* FOR AMINAMTION */
  transform: translateY(50vh);
  opacity: 0;
  transition: opacity 2000ms ease, transform 1000ms ease;
}

.imgs .img3 {
  height: 650px;
  left: 170px;
  top: 120px;

  /* FOR AMINAMTION */
  transform: translateY(50vh);
  opacity: 0;
  transition: opacity 2000ms ease, transform 1200ms ease;
}



.btn.has_transition {
  transform: translateX(100px);
  opacity: 0;
  transition: opacity 1000ms ease, transform 1000ms ease;
}

.btn.has_transition.animate {
  transform: translateX(0);
  opacity: 1;
}


/* ANIMATION CLASSES */
.imgs .img1.show,
.imgs .img2.show,
.imgs .img3.show {
  transform: translateY(0);
  opacity: 1;
}

.markedColor{
  color: #293189;
}

.img-place {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.img-place img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.fontSize{
  font-size: 25px;
}

.client-section {
  padding: 64px 0;
  background-color: #1d135a;
  color: #000;
}

.client-section .item {
  padding: 16px 0;
  text-align: center;
}

.form-control {
  padding: 8px 15px;
  height: calc(1.5em + 1.375rem + 2px);
  border-color: #d6dbd9;
}

.search-widget .form-control {
  margin-bottom: 8px;
  background-color: #36bcee;
  border-color: transparent;
  box-shadow: none !important;
}

.search-widget .form-control:focus {
  border-color: #dee1e6;
}

.navbar.sticky {
  z-index: 1080;
}

.navbar.sticky.fixed ~ * {
  margin-top: 70px;
}

.navbar.sticky.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: navTransition .5s ease;
  box-shadow: 0 2px 6px rgba(100, 95, 136, 0.15);
  z-index: 1080;
}

.page-footer {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid #e9e8f5;
}







.footer-menu {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.footer-menu li {
  margin-bottom: 12px;
}

.footer-link {
  display: inline-block;
  padding: 6px 0;
}





.sosmed-button a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  background-color: #F6F5FC;
  color: #898798;
  transition: all .2s linear;
}

.sosmed-button a:hover {
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  transform: rotate(360deg);
}



.navbar-light .navbar-nav .nav-link {
  color: rgba(100, 95, 136, 0.75);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #645F88;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  font-weight: 300;
  color: #6C55F9;
}

.navbar-float {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(100, 95, 136, 0.15);
  z-index: 1070;
}